root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false

[*.{flake8,txt}]
indent_size = 4

[*.{py,pyi}]
profile = black
indent_size = 4
